<p id="notice"><%= notice %></p>

<h1>Meta Prints</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Producer</th>
      <th>Bank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meta_prints.each do |meta_print| %>
      <tr>
        <td><%= meta_print.creator %></td>
        <td><%= meta_print.producer %></td>
        <td><%= meta_print.bank %></td>
        <td><%= link_to 'Show', meta_print %></td>
        <td><%= link_to 'Edit', edit_meta_print_path(meta_print) %></td>
        <td><%= link_to 'Destroy', meta_print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meta Print', new_meta_print_path %>
