<%= form_tag edit_handler_path @handler do %>
  <table>
    <thead>
      <tr>
        <th><%= check_box_tag "index_check_all", 'true', true, class: "check_all" %></th>
        <th>File name</th>
        <th>EQ</th>
        <th>Society</th>
        <th>IF</th>
        <th>Open</th>
        <th>Close</th>
        <th>Errores</th>
      </tr>
    </thead>

    <tbody>
      <% statements.each do |statement| %>
        <tr>
          <td><%= check_box_tag "statements[#{statement.id}][check]", 'true', true %></td>
          <%= render('statements/index/index', statement: statement) if !(edit) %>
          <%= render('statements/index/edit', statement: statement) if (edit) %>
          <% if edit and statement.errors.any? %>
            <td class="statement-errors-count"><%= statement.errors.count %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if edit %>
    <%= submit_tag StatementsCommit::RELOAD %>
    <%= submit_tag StatementsCommit::AUTO %>
    <%= submit_tag StatementsCommit::INDEX %>
    <%= submit_tag StatementsCommit::INDEXED %>
  <% else %>
    <% commit.each do |c| %>
      <%= submit_tag c %>
    <% end %>
  <% end %>
<% end %>
