<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @dictionary.identifier %>
</p>

<p>
  <strong>Target:</strong>
  <%= @dictionary.target %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
