<%= form_for search_params, url: filter_statements_url do |f| %>
  <div class="search-block">
    <div class="field">
      <span>Fecha:</span>
      <%= f.date_select :date_from, discard_day: true, selected: search_params.date_from, start_year: 2015, end_year: Date.current.year %>
    </div>

    <div class="advanced-options">
      <span class="toggle-on-click" data-toggle="close"><span>&#8711;</span> Opciones Avanzadas (F5)</span>
      <div class="field show-on-click">
        <span>Fecha Hasta:</span>
        <%= f.date_select :date_to, discard_day: true, include_blank: true, selected: search_params.date_to, start_year: 2015, end_year: Date.current.year %>
      </div>
      <div class="field show-on-click">
        <span>Nombre Sociedad:</span>
        <%= f.text_field :name %>
      </div>
      <div class="show-on-click">
        <span class="toggle-on-click" data-toggle="close"><span>&#8711;</span> Periodicidad</span>
        <div class="field show-on-click">
          <%= f.select(:periodicities, Tax::Periodicity::ALL.map{|p| [p,p]},{selected: search_params.periodicities}, {class: 'select2-blank', multiple: 'multiple'}) %>
        </div>
      </div>
      <div class="show-on-click">
        <span class="toggle-on-click" data-toggle="close"><span>&#8711;</span> Operadores</span>
        <div class="field show-on-click">
          <%= f.select(:handlers, Handler.all.map{|h| [h.short_name, h.id]}<<["Sin Encargado",'-1'],{selected: search_params.handlers}, {class: 'select2-blank', multiple: 'multiple'}) %>
        </div>
      </div>
      <div class="show-on-click">
        <span class="toggle-on-click" data-toggle="close"><span>&#8711;</span> Instituciones Financieras</span>
        <div class="field show-on-click">
          <%= f.select(:ifs, Bank.all.map{|b| [b.name, b.id]},{selected: search_params.ifs}, {class: 'select2-blank', multiple: 'multiple'}) %> 
        </div>  
      </div>
      <div class="show-on-click">
        <span class="toggle-on-click" data-toggle="close"><span>&#8711;</span> Estados</span>
        <div class="field show-on-click">
          <%= f.select(:statuses, StatementStatus.all.map{|s| [s.message, s.id]},{selected: search_params.statuses}, {class: 'select2-blank', multiple: 'multiple'}) %> 
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Filtrar", {class: "button-l"} %>
    </div>
  </div>
<% end %>