<div class="nested-form">
  <%= form_for(society) do |f| %>
    <% if society.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(society.errors.count, "error") %> prohibited this society from being saved:</h2>

        <ul>
        <% society.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :rut %>
      <%= f.text_field :rut %>
    </div>

    <%= f.fields_for :source_path, SourcePath.new do |s| %>
      <div class="field">
        Ruta de Cartolas:
        <div class="xl-field">
          <%= s.text_field :path, value: society.path %>
        </div>
      </div>
    <% end %>

    <% if society.persisted? %>
      <div class="field">
        Sociedad Padre:
        <%= f.collection_select :parent_id, society.ancestors, :id, :name %>
      </div>
    <% end %>

    <div class="actions">
      <% if society.persisted? %>
        <%= f.submit "Editar Sociedad" %>
      <% else %>
        <%= f.submit "Crear Sociedad" %>
      <% end %>
    </div>
  <% end %>
</div>

<% if society.checkmovs.any? %>
  <div class="nested-form">
    <%= form_for(society) do |f| %>
      <div class="nested-form-header">
        <h2>Checkmovs:</h2>
      </div>
      <% society.checkmovs.each do |check| %>
        <%= f.fields_for(:checkmovs, check) do |c| %>
          <div class="field">
            <%= c.label :path %>
            <%= c.text_field :path %>
            <%= c.label :destroy %>
            <%= c.check_box :_destroy %>
          </div>
        <% end %>
      <% end %>
      
      <div class="actions">
        <%= f.submit "Editar Checkmovs" %>
      </div>
    <% end %>
  </div>
<% end %>

<% if society.taxes.any? %>
  <div class="nested-form">
    <div class="nested-form-head">
      <h2>Nuevo Checkmov:</h2>
    </div>
    <%= form_for(society) do |f| %>
      <%= f.fields_for(:checkmovs, Checkmov.new) do |c| %>
        <div class="field">
          <%= c.label :path %>
          <div class="xl-field">
            <%= c.text_field :path %>
          </div>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Editar Checkmovs" %>
      </div>
    <% end %>
  </div>
<% end %>
