<h1>
  <%= @society.name %>
</h1>
<% if @society.rut and not @society.rut.empty? %>
<p>
  <strong>Rut:</strong>
  <%= @society.rut %>
</p>
<% end %>

<% unless @society.root? %>
<p>
  <strong>Parent:</strong>
  <%= link_to @society.parent.name, @society.parent %>
</p>
<% end %>

<% if @society.leaf? or (@society.root? and @society.children.count == 0) %>
  <h2>Checkmovs:</h2>
  <ul>
    <% @society.checkmovs.each do |check| %>
      <li><a href="<%= check.chrome_path current_user %>"><%= check.path %></a></li>
    <% end %>
  </ul>

  <h2>Taxes:</h2>
  <ul>
    <% @society.taxes.each do |tax| %>
      <li>
        <strong><%= link_to tax.bank, tax_path(tax) %>:</strong>
        <%= pluralize(tax.quantity, "statement") %>
        <%= tax.periodicity %>
        <%= link_to "Edit", edit_tax_path(tax) %>
        <%= link_to 'X', tax, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>

  <div class="nested-form">
    <div class="nested-form-head">
      <h2>Nueva Institución Financiera</h2>
    </div>
    <%= form_for @society do |f| %>
      <%= f.fields_for :taxes, (tax = @society.taxes.build) do |t| %>
        <div class="field">
          Inst Financiera:
          <%= t.collection_select(:bank_id, Bank.all, :id, :name) %>
        </div>
        <div class="field">
          Periodicidad:
          <%= t.select :periodicity, Tax::Periodicity::ALL.map{|p| [p,p]} %>
        </div>
        <div class="field">
          Cantidad Esperada:
          <%= t.select :quantity, (0..30) %>
        </div>
        <%= t.fields_for :source_paths, SourcePath.new do |s| %>
          <div class="field">
            Directorio Origen de Cartolas:
          </div>
          <div class="xl-field">
            <%= s.text_field :path, value: @society.path %>
          </div>
        <% end %>
      <% end %>
      <div class="actions">
        <%= f.submit "Agregar IF" %>
      </div>
    <% end %>    
  </div>
<% end %> 
<% @society.reload %>
<% if @society.taxes.size == 0 %>
  <% if @society.children.any? %>
    <h2>Sociedades</h2>
    <ul>
      <% @society.children.each do |child| %>
        <li>
          <strong><%= link_to child.name, child %></strong>
          <%= child.rut %>
          <%= link_to 'X', child, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="nested-form">
    <div class="nested-form-head">
      <h2>Nueva Sociedad</h2>
    </div>
    <%= form_for @society do |f| %>
      <%= f.fields_for :children, @society.children.build do |t| %>
        <div class="field">
          NOMBRE:
          <%= t.text_field :name %>
        </div>
        <div class="field">
          RUT:
          <%= t.text_field :rut %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Agregar Sub-Sociedad", {class: "button-l"} %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="actions">
  <%= link_to 'Editar', edit_society_path(@society), {class: "button"} %>
  <%= link_to 'Volver', societies_path, {class: "button"} %>
</div>
