<h1>
  <%= @society.name %>
</h1>

<div class="panel panel-body">
  <div class="item">
    <span class="item-label">Cliente:</span>
    <span class="item-content">
      <% if @society.root? %>
        <%= @society %>
      <% else %>
        <%= link_to @society.parent.name, @society.parent %>
      <% end %>
    </span>
  </div>

  <div class="item">
    <span class="item-label">Rut:</span>
    <span class="item-content"><%= @society.rut %></span>
  </div>

  <div class="item">
    <span class="item-label">Estado:</span>
    <span class="item-content"><%= @society.active ? "Activa" : "Cerrada" %></span>
  </div>
</div>

  <% if @society.taxes.any? %>
  <div class="panel">
    <div class="panel-head">
      <h2>Checkmovs</h2>
    </div>
    <div class="panel-body">
      <% @society.checkmovs.each do |check| %>
      <div class="item">
        <span class="item-label">
        </span>
        <span class="item-content">
          <a href="<%= check.chrome_path current_user %>"><%= check.path %></a></li>
        </span>
      </div>
      <% end %>
    </div>
  </div>

  <div class="panel">
    <div class="panel-head">
      <h2>Instituciones Financieras:</h2>
    </div>
    <div class="panel-body">
      <% @society.taxes.each do |tax| %>
      <div class="item">
        <span class="item-label">
          <%= link_to tax.bank, tax_path(tax) %>:
        </span>
        <span class="item-content">
          <%= pluralize(tax.quantity, "statement") %>
          <%= tax.periodicity %>
          <span class="options-right options-s"><%= link_to 'X', tax, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <span class="options-right options-s"><%= link_to "Edit", edit_tax_path(tax) %></span>
        </span>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>

<% if @society.leaf? or (@society.root? and @society.children.count == 0) %>
  <div class="nested-form">
    <div class="nested-form-head">
      <h2>Nueva Institución Financiera</h2>
    </div>
    <%= form_for @society do |f| %>
      <%= f.fields_for :taxes, (tax = @society.taxes.build) do |t| %>
        <div class="field">
          Inst Financiera:
          <%= t.collection_select(:bank_id, Bank.all, :id, :name) %>
        </div>
        <div class="field">
          Periodicidad:
          <%= t.select :periodicity, Tax::Periodicity::ALL.map{|p| [p,p]} %>
        </div>
        <div class="field">
          Cantidad Esperada:
          <%= t.select :quantity, (0..30) %>
        </div>
        <%= t.fields_for :source_paths, SourcePath.new do |s| %>
          <div class="field">
            Directorio Origen de Cartolas:
          </div>
          <div class="xl-field">
            <%= s.text_field :path, value: @society.path %>
          </div>
        <% end %>
      <% end %>
      <div class="actions">
        <%= f.submit "Agregar IF", {class: "button-l"} %>
      </div>
    <% end %>    
  </div>
<% end %> 
<% @society.reload %>
<% if @society.children.any? %>
  <div class="panel">
    <div class="panel-head">
      <h2>Sociedades</h2>
    </div>
    <div class="panel-body">
      <% @society.children.each do |child| %>
        <div class="item">
          <span class="item-label"><%= link_to "#{child.name}: ", child %></span>
          <span class="item-content">
            <%= child.active ? "Activa" : "Cerrada" %>
            <span class="options-right options-s"><%= link_to 'X', child, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <span class="options-right"><%= (ls = child.last_sequence) ? ls.date : "-" %></span>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if @society.taxes.size == 0 %>

  <div class="nested-form">
    <div class="nested-form-head">
      <h2>Nueva Sociedad</h2>
    </div>
    <%= form_for @society do |f| %>
      <%= f.fields_for :children, @society.children.build do |t| %>
        <div class="field">
          NOMBRE:
          <%= t.text_field :name %>
        </div>
        <div class="field">
          RUT:
          <%= t.text_field :rut %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Agregar Sub-Sociedad", {class: "button-l"} %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="actions">
  <%= link_to 'Editar', edit_society_path(@society), {class: "button"} %>
  <%= link_to 'Volver', societies_path, {class: "button"} %>
</div>
