<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @society.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @society.rut %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @society.parent.name %>
</p>

<%= link_to 'Edit', edit_society_path(@society) %> |
<%= link_to 'Back', societies_path %>
