<h1>
  <%= @society.name %>
</h1>
<% if @society.rut and not @society.rut.empty? %>
<p>
  <strong>Rut:</strong>
  <%= @society.rut %>
</p>
<% end %>

<% unless @society.root? %>
<p>
  <strong>Parent:</strong>
  <%= link_to @society.parent.name, @society.parent %>
</p>
<% end %>

<p>

<% if @society.leaf? or (@society.root? and @society.children.count == 0) %>
  <h2>Taxes:</h2>
  <ul>
    <% @society.taxes.each do |tax| %>
      <li>
        <strong><%= link_to tax.bank, tax_path(tax) %>:</strong>
        <%= pluralize(tax.quantity, "statement") %>
        <%= tax.periodicity %>
        <%= link_to "Edit", edit_tax_path(tax) %>
        <%= link_to 'X', tax, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>

  <div class="nested-form">
    <strong>New Tax:</strong>
    <%= form_for @society do |f| %>
    <%= f.fields_for :taxes, @society.taxes.build do |t| %>
      <div class="field">
        <%= t.label :bank_id %>
        <%= t.collection_select(:bank_id, Bank.all, :id, :name) %>
      </div>
      <div class="field">
        <%= t.label :periodicity %>
        <%= t.select :periodicity, Tax::Periodicity::ALL.map{|p| [p,p]} %>
      </div>
      <div class="field">
        <%= t.label :quantity %>
        <%= t.number_field :quantity %>
      </div>
      <div class="field">
        <%= t.label :optional %>
        <%= t.number_field :optional %>
      </div>
      <div class="field">
        <%= t.label :source_path %>
      </div>
      <div class="field xl-field">
        <%= t.text_field :source_path, value: @society.path %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Create Tax" %>
    </div>
    <% end %>    
  </div>
<% end %> 

<% if @society.taxes.size == 0 %>
  <% if @society.children.any? %>
    <h2>Sociedades</h2>
    <ul>
      <% @society.children.each do |child| %>
        <li>
          <strong><%= link_to child.name, child %></strong>
          <%= child.rut %>
          <%= link_to 'X', child, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="nested-form">
    <strong>New Society:</strong>
    <%= form_for @society do |f| %>
    <%= f.fields_for :children, @society.children.build do |t| %>
      <div class="field">
        <%= t.label :name %>
        <%= t.text_field :name %>
      </div>
      <div class="field">
        <%= t.label :rut %>
        <%= t.text_field :rut %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Create Society" %>
    </div>
    <% end %>
  </div>
<% end %> 

</p>



<%= link_to 'Edit', edit_society_path(@society) %> |
<%= link_to 'Back', societies_path %>
