<p id="notice"><%= notice %></p>

<h1>Dictionary Elements</h1>

<table>
  <thead>
    <tr>
      <th>Element</th>
      <th>Dictionary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dictionary_elements.each do |dictionary_element| %>
      <tr>
        <td><%= dictionary_element.element %></td>
        <td><%= dictionary_element.dictionary %></td>
        <td><%= link_to 'Show', dictionary_element %></td>
        <td><%= link_to 'Edit', edit_dictionary_element_path(dictionary_element) %></td>
        <td><%= link_to 'Destroy', dictionary_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dictionary Element', new_dictionary_element_path %>
