<p id="notice"><%= notice %></p>

<p>
  <strong>Element:</strong>
  <%= @dictionary_element.element %>
</p>

<p>
  <strong>Dictionary:</strong>
  <%= @dictionary_element.dictionary %>
</p>

<%= link_to 'Edit', edit_dictionary_element_path(@dictionary_element) %> |
<%= link_to 'Back', dictionary_elements_path %>
