<%= form_for(cover_print) do |f| %>
  <% if cover_print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cover_print.errors.count, "error") %> prohibited this cover_print from being saved:</h2>

      <ul>
      <% cover_print.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_filter %>
    <%= f.text_field :first_filter %>
  </div>

  <div class="field">
    <%= f.label :second_filter %>
    <%= f.text_field :second_filter %>
  </div>

  <div class="field">
    <%= f.label :bank_id %>
    <%= f.text_field :bank_id %>
  </div>

  <div class="field">
    <%= f.label :meta_print_id %>
    <%= f.text_field :meta_print_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
