<p id="notice"><%= notice %></p>

<h1>Cover Prints</h1>

<table>
  <thead>
    <tr>
      <th>First filter</th>
      <th>Second filter</th>
      <th>Bank</th>
      <th>Meta print</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cover_prints.each do |cover_print| %>
      <tr>
        <td><%= cover_print.first_filter %></td>
        <td><%= cover_print.second_filter %></td>
        <td><%= cover_print.bank %></td>
        <td><%= cover_print.meta_print %></td>
        <td><%= link_to 'Show', cover_print %></td>
        <td><%= link_to 'Edit', edit_cover_print_path(cover_print) %></td>
        <td><%= link_to 'Destroy', cover_print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cover Print', new_cover_print_path %>
