<%= form_tag edit_handler_path @handler do %>
  <table>
    <thead>
      <tr>
        <th><%= check_box_tag "indexed_check_all", 'true', true, class: "check_all" %></th>
        <th>File name</th>
        <th>Society</th>
        <th>IF</th>
        <th>Year</th>
        <th>Month</th>
        <th>Week</th>
        <th>Day</th>
        <th>Out of</th>
      </tr>
    </thead>

    <tbody>
      <% statements.each do |statement| %>
        <tr>
          <td><%= check_box_tag "statements[#{statement.id}][check]", 'true', true %></td>
          <%= render('statements/indexed/index', statement: statement) if !(edit) %>
          <%= render('statements/indexed/edit', statement: statement) if (edit) %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if edit %>
    <%= submit_tag StatementsCommit::RELOAD %>
    <%= submit_tag StatementsCommit::AUTO %>
    <%= submit_tag StatementsCommit::INDEX %>
    <%= submit_tag StatementsCommit::INDEXED %>
    <%= submit_tag StatementsCommit::READ %>
  <% else %>
    <% commit.each do |c| %>
      <%= submit_tag c %>
    <% end %>
  <% end %>
<% end %>
