
<td><div class="field-with-errors" data-errors="<%= statement.errors.include? :file_hash %>">
	<%= text_field_tag "statements[#{statement.id}][file_name]", statement.file_name %>
	<% if statement.errors and statement.errors.include? :file_hash %>
		<div class="error-message"><%= render 'static_pages/error_list', errors: statement.errors.messages[:file_hash] %></div>		
	<% end %>
</div></td>
<td><div class="field-with-errors" data-errors="<%= statement.errors.include? :client %>">
	<%= collection_select("statements[#{statement.id}]", :client_id, Society.roots, :id, :name, selected: (statement.client ? statement.client.root.id : ""), prompt: true) %>
	<% if statement.errors and statement.errors.include? :client %>
		<div class="error-message"><%= render 'static_pages/error_list', errors: statement.errors.messages[:client] %></div>		
	<% end %>
</div></td>
<td><div class="field-with-errors" data-errors="<%= statement.errors.include? :bank %>">
	<%= collection_select("statements[#{statement.id}]", :bank_id, Bank.all, :id, :name, selected: (statement.bank ? statement.bank.id : ""), prompt: true) %>
	<% if statement.errors and statement.errors.include? :bank %>
		<div class="error-message"><%= render 'static_pages/error_list', errors: statement.errors.messages[:bank] %></div>		
	<% end %>
</div></td>
<td><%= statement.handler %></td>
<td><%= date_field_tag("statements[#{statement.id}][d_filed]", statement.d_filed) %></td>
