
<td><%= statement.file_name %></td>
<td><%= statement.client %></td>
<td><%= statement.bank %></td>
<td><%= statement.handler %></td>
<td><%= statement.d_filed.strftime("%d/%m/%Y") if statement.d_filed %></td>
<td><%= link_to 'Show', statement %></td>
<td><%= link_to 'Edit', edit_statement_path(statement) %></td>
<td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>