<h1>
  <%= link_to @tax.bank, @tax.bank %> - <%= link_to @tax.society, @tax.society %>
</h1>

<div class="panel panel-body">
	<span class="item item-content">
		Espera <%= @tax.quantity %> cartolas al <%= @tax.periodicity %>
	</span>
</div>
<div class="panel">
	<div class="panel-head">
		<h2>Fuentes</h2>
	</div>
	<div class="panel-body">
	<% @tax.source_paths.each.with_index do |source_path, i| %>
		<div class="item">
			<span class="item-label">
				<%= "#{i+1}.-" %>
			</span>
			<span class="item-content">
    			<%= source_path %>
			    <span class="options-right"><%= link_to 'X', source_path_path(source_path), method: :delete %></span>
			</span>
		</div>
	<% end %>
	</div>
</div>

<div class="nested-form">
    <div class="nested-form-head">
    	<h2>Nueva fuente</h2>
    </div>
    <%= form_for @tax do |f| %>
		<%= f.fields_for :source_paths, @tax.source_paths.build do |s| %>
		    <div class="field xl-field">
		      <%= s.text_field :path, value: "#{@tax.society.path}/#{@tax.bank}" %>
		    </div>
		<% end %>
		<div class="actions">
			<%= f.submit "Agregar Ruta", {class: "button-l"} %>
		</div>
    <% end %>    
</div>

<div class="panel">
	<div class="panel-head">
		<h2>Períodos</h2>
	</div>
	<div class="panel-body">
	<% @tax.sequences.each do |sequence| %>
		<div class="item">
			<span class="item-label">
    			<%= link_to "#{sequence.date.to_s}", sequence %>
			</span>
			<span class="item-content">
    			<%= "Contiene #{pluralize sequence.statements.size, 'cartola'} " %>
			</span>
		</div>
	<% end %>
	</div>
</div>

<div class="actions">
	<%= link_to 'Edit', edit_tax_path(@tax), {class: "button"} %>
	<%= link_to 'Back', taxes_path, {class: "button"} %>
</div>
