<%= form_tag all_statements_path do %>
  <table>
    <thead>
      <tr>
        <th><%= check_box_tag "index_check_all", 'true', true, class: "check_all" %></th>
        <th>File name</th>
        <th>Society</th>
        <th>IF</th>
        <th>Open</th>
        <th>Close</th>
        <th>Handler</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% statements.each do |statement| %>
        <tr>
          <td><%= check_box_tag "statements[#{statement.id}][check]", 'true', true %></td>
          <%= render('statements/all/index', statement: statement) %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% commit.each do |c| %>
    <%= submit_tag c %>
  <% end %>
<% end %>