<% StatementStatus.group_by_status(statements).each do |status, statement_group| %>
	<h2><%= status %></h2>
	<%= form_tag batch_update_statements_path do %>
	  <table>
	    <%= render'statements/table_head', edit: edit %>
	    <%= render'statements/table_body', statements: statement_group, edit: edit %>
	  </table>
	  <% if edit %>
	    <%= submit_tag StatementsCommit::BATCH_UPDATE %>
	  <% else %>
	    <%= submit_tag StatementsCommit::UPGRADE unless status.archived? %>
	    <%= submit_tag StatementsCommit::DOWNGRADE unless status.noticed? %>
	  <% end %>
	<% end %>
<% end %>