<%= form_for(statement) do |f| %>
  <% if statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %>
    <%= f.text_field :file_name %>
  </div>

  <div class="field">
    <%= f.label :sequence_id %>
    <%= f.text_field :sequence_id %>
  </div>

  <div class="field">
    <%= f.label :bank_id %>
    <%= f.text_field :bank_id %>
  </div>

  <div class="field">
    <%= f.label :handler_id %>
    <%= f.text_field :handler_id %>
  </div>

  <div class="field">
    <%= f.label :d_filed %>
    <%= f.datetime_select :d_filed %>
  </div>

  <div class="field">
    <%= f.label :d_open %>
    <%= f.datetime_select :d_open %>
  </div>

  <div class="field">
    <%= f.label :d_close %>
    <%= f.datetime_select :d_close %>
  </div>

  <div class="field">
    <%= f.label :d_read %>
    <%= f.datetime_select :d_read %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
