
<div class="nested-child nested-statement" id=<%= element.js_id %> data-toggle="close" data-type="child">
  <span><%= link_to element.file_name, element %></span>
  <span class="options-right"><%= element.progress %> %</span>
  <span class="options-right"><%= element.status %></span>
  <span class="statement-handler options-right"><%= element.handler ? link_to(element.handler, element.handler) : link_to("Tomar", assign_statement_path(element), remote: true) %></span>
  <span class="options-right"><a href="<%= element.chrome_path current_user %>">Abrir</a></span>
  <span class="options-right options-l"><%= element.bank %></span>
  <span class="options-right options-l"><%= element.society %></span>
</div>