
<div class="nested-child" id=<%= element.js_id %> data-toggle="close" data-type="child">
  <span><%= element.file_name %></span>
  <span><%= element.handler || "Tomar" %></span>
  <span><%= element.status %></span>
  <span class="options-right"><%= element.progress %> %</span>
</div>