<td><%= check_box_tag "statements[#{statement.id}][check]", 'true', true %></td>
<td><%= link_to statement.file_name, statement %></td>
<td><%= link_to statement.tax.society %></td>
<td><%= statement.bank %></td>
<td><%= statement.sequence.date_path %></td>
<td><%= statement.tax.periodicity %></td>
<td><a href="<%= "file://#{current_user.role.repo_path}/#{statement.path}" %>"  >Abrir</a></td>
<td><%= link_to "Soltar", unassign_statement_path(statement) %></td>