<%= form_for search_params, url: filter_statements_url do |f| %>

<div class="search-block">
  <div class="field">
    <%= f.label "Desde:" %><br>
    <%= f.date_select :date_from, discard_day: true, selected: search_params.date_from, start_year: 2015, end_year: Date.current.year %>
  </div>

  <div>
    <span class="toggle-on-click" data-toggle="close">Opciones Avanzadas</span>
    <div class="field show-on-click">
      <%= f.label "Hasta:" %><br>
      <%= f.date_select :date_to, discard_day: true, include_blank: true, selected: nil, start_year: 2015, end_year: Date.current.year %>
    </div>
    <div class="show-on-click">
      <span class="toggle-on-click" data-toggle="close">Periodicidad</span>
      <div class="field show-on-click">
        <% Tax::Periodicity::ALL.each do |per| %>
          <%= check_box_tag "search_params[periodicities][]", per, search_params.periodicities.include?(per) %>
          <%= f.label :periodicities, per %> </br>
        <% end %> 
      </div>
    </div>
    <div class="show-on-click">
      <span class="toggle-on-click" data-toggle="close">Operadores</span>
      <div class="field show-on-click">
        <% Handler.all.each do |handler| %>
          <%= check_box_tag "search_params[handlers][]", handler.id, (search_params.handlers and search_params.handlers.include?(handler.id.to_s)) %>
          <%= f.label :handler, handler.short_name %> </br>
        <% end %> 
      </div>
    </div>
    <div class="show-on-click">
      <span class="toggle-on-click" data-toggle="close">Instituciones Financieras</span>
      <div class="field show-on-click">
        <% Bank.all.each do |bank| %>
          <%= check_box_tag "search_params[ifs][]", bank.id, (search_params.ifs and search_params.ifs.include?(bank.id.to_s)) %>
          <%= f.label :ifs, bank.name %> </br>
        <% end %> 
      </div>  
    </div>
  </div>
    <div class="show-on-click">
      <span class="toggle-on-click" data-toggle="close">Estados</span>
      <div class="field show-on-click">
      <% StatementStatus.all.each do |status| %>
        <%= check_box_tag "search_params[statuses][]", status.id, (search_params.statuses and search_params.statuses.include?(status.id.to_s)) %>
        <%= f.label :statuses, status.message %> </br>
      <% end %> 
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>