<p id="notice"><%= notice %></p>

<%= render 'search_form', search_params: @search_params %>

<h1>Statements</h1>
  <% @societies.each do |society| %>
    <%= render 'societies/node', element: society, scope: @search_params %>
  <% end %>
<br>

<%= form_tag reload_statements_path, method: :post do %>
	<%= date_field_tag :reload_from, Date.new(2017,6,1) %>
	<%= date_field_tag :reload_to, Date.current %>
	<%= submit_tag 'Load Statements' %>
<% end %>
