<h1>
  <%= @statement.file_name %>
</h1>

<h2>
  <%= link_to @statement.bank, @statement.bank %> - <%= link_to @statement.society, @statement.society %>
</h2>

<h3>
  <%= link_to @statement.sequence.date.to_s, @statement.sequence %>
</h3>

<p>
  <strong>Estado:</strong>
  <%= @statement.status %>
</p>

<p>
  <strong>Handler:</strong>
  <%= @statement.handler ? link_to(@statement.handler) : "Sin Asignar" %>
</p>

<p>
  <strong>Fecha Ingreso:</strong>
  <%= @statement.d_filed %>
</p>

<p>
  <a href="<%= @statement.chrome_path current_user %>">Abrir Archivo Original</a>
</p>


<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
