<h1>
  <%= @statement.file_name %>
</h1>

<h2>
  <%= link_to @statement.sequence.date.to_s, @statement.sequence %>
</h2>

<p>
  <strong>Bank:</strong>
  <%= link_to @statement.bank %>
</p>

<p>
  <strong>Sociedad:</strong>
  <%= link_to @statement.society %>
</p>

<p>
  <strong>Handler:</strong>
  <%= @statement.handler ? link_to(@statement.handler) : "Sin Asignar" %>
</p>

<p>
  <strong>Fecha Ingreso:</strong>
  <%= @statement.d_filed %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @statement.status %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
