<%= render 'filter_params/date_params', date_params: @date_params %>

<h1>
	<% if @bank %>
		<%= link_to("Todos",progress_banks_path) %>
		 - 
		<%= link_to @bank.name, bank_path(@bank) %> 
		(<%= @bank.recieved_progress @date_params %> %)
	<% else %>
		<%= "Progreso por I. Financiera" %>
	<% end %>
</h1>

<% if @bank %>
	<table class="progress-table">
		<thead>
			<th>Sociedad</th>
			<th>Cartolas Recibidas</th>
			<th>% Recibido</th>
			<th>Progreso</th>
		</thead>
		<tbody>
		  <% @taxes.each do |tax| %>
		    <tr>
		    	<td><%= link_to tax.society.name, progress_tax_path(tax) %></td>
		    	<td><%= r = tax.recieved @date_params %> de <%= e = tax.expected @date_params %></td>
	    		<td><%= to_percentage r, e %> %</td>
		    	<td><%= tax.period_progress(@date_params).to_i %> %</td>
		    </tr>
		  <% end %>
		</tbody>
	</table>
<% else %>
	<table class="progress-table">
		<thead>
			<th>IF</th>
			<th>Sociedades</th>
			<th>Cartolas Recibidas</th>
			<th>% Recibido</th>
			<th>Progreso</th>
		</thead>
		<tbody>
		  <% @banks.each do |bank| %>
		    <tr>
		    	<td><%= link_to bank.name, progress_bank_path(bank) %></td>
		    	<td><%= bank.taxes.size %></td>
		    	<td><%= r = bank.recieved @date_params %> de <%= e = bank.expected @date_params %></td>
	    		<td><%= bank.recieved_progress @date_params %> %</td>
		    	<td><%= bank.period_progress @date_params %> %</td>
		    </tr>
		  <% end %>
		</tbody>
	</table>
<% end %>