<p id="notice"><%= notice %></p>

<h1>
  <%= @bank.name %>
</h1>

<p>
  <strong>Nombre de Carpeta:</strong>
  <%= @bank.folder_name %>
</p>

<p>
  <strong>Código:</strong>
  <%= @bank.code_name %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
