<%= form_for(handler) do |f| %>
  <% if handler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(handler.errors.count, "error") %> prohibited this handler from being saved:</h2>

      <ul>
      <% handler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repo_path %>
    <%= f.text_field :repo_path %>
  </div>

  <div class="field">
    <%= f.label :local_path %>
    <%= f.text_field :local_path %>
  </div>

  <div class="field">
    <%= f.label :short_name %>
    <%= f.text_field :short_name %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
