<h1><%= @handler.short_name %><small> (<%= link_to 'edit', edit_handler_path(@handler) %>)</small></h1>
<div class="panel panel-body">
	<div class="item">
	  <span class="item-label">Local Path:</span>
	  <a href="<%= "f://#{@handler.repo_path}#{@handler.local_path}" %>" class="item-content"><%= "#{@handler.repo_path}#{@handler.local_path}" %></a>
	</div class="item">
</div>


<h2>Mis Cartolas:</h2>

<%= render 'statements/by_status', statements: @handler.statements, edit: false %>

<br>
<% if @handler.statements.any? %>
  <%= link_to 'Soltar todas', unassign_all_handler_path(@handler) %> |
<% end %>
<%= link_to 'Edit', edit_handler_path(@handler) %>
