<h1><%= @handler.short_name %></h1>
<p>
  <strong>Local Path:</strong>
  <%= @handler.repo_path+@handler.local_path %>
</p>

<%= link_to 'Edit', edit_handler_path(@handler) %> |
<%= link_to 'Back', handlers_path %>

<h1>My Statements</h1>

<%= render 'statements/by_status', statements: @handler.statements, edit: false %>

<br>
<%= link_to 'Edit', edit_handler_path(@handler) %>
