<h1><%= @handler.short_name %><small> (<%= link_to 'edit', edit_handler_path(@handler) %>)</small></h1>
<p>
  <strong>Local Path:</strong>
  <a href="<%= "f://#{@handler.repo_path}#{@handler.local_path}" %>"><%= "#{@handler.repo_path}#{@handler.local_path}" %></a>
</p>


<h1>My Statements</h1>

<%= render 'statements/by_status', statements: @handler.statements, edit: false %>

<br>
<%= link_to 'Edit', edit_handler_path(@handler) %>
