<p id="notice"><%= notice %></p>

<p>
  <strong>Repo path:</strong>
  <%= @handler.repo_path %>
</p>

<p>
  <strong>Local path:</strong>
  <%= @handler.local_path %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @handler.short_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @handler.name %>
</p>

<%= link_to 'Edit', edit_handler_path(@handler) %> |
<%= link_to 'Back', handlers_path %>

<h1>My Statements</h1>

<%= render 'statements/by_status', statements: @handler.statements, edit: false %>

<br>
<%= link_to 'Edit', edit_handler_path(@handler) %>
