<h1>Sequences</h1>

<table>
  <thead>
    <tr>
      <th>Society</th>
      <th>Bank</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Optional</th>
      <th>Statements</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequences.each do |sequence| %>
      <tr>
        <td><%= sequence.tax.society %></td>
        <td><%= sequence.tax.bank %></td>
        <td><%= sequence.date.to_s %></td>
        <td><%= sequence.quantity %></td>
        <td><%= sequence.optional %></td>
        <td><%= sequence.statements.size %></td>
        <td><%= link_to 'Show', sequence %></td>
        <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
        <td><%= link_to 'Destroy', sequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence', new_sequence_path %>
