<p id="notice"><%= notice %></p>

<h1>Sequences</h1>

<table>
  <thead>
    <tr>
      <th>Society</th>
      <th>Bank</th>
      <th>Year</th>
      <th>Month</th>
      <th>Week</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequences.each do |sequence| %>
      <tr>
        <td><%= sequence.tax.society %></td>
        <td><%= sequence.tax.bank %></td>
        <td><%= sequence.year %></td>
        <td><%= sequence.month %></td>
        <td><%= sequence.week %></td>
        <td><%= sequence.day %></td>
        <td><%= link_to 'Show', sequence %></td>
        <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
        <td><%= link_to 'Destroy', sequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence', new_sequence_path %>
