<td><%= statement.file_name %></td>
<td><%= statement.society %></td>
<td><%= statement.bank %></td>
<td><%= statement.sequence.year %></td>
<td><%= statement.sequence.month %></td>
<td><%= statement.sequence.week %></td>
<td><%= statement.sequence.day %></td>
<td><%= statement.sequence.statements.count %>/<%= statement.sequence.tax.quantity %></td>
