
<td><%= statement.file_name %></td>
<td><%= statement.society %></td>
<td><%= statement.if %></td>
<td><%= statement.date[:year] %></td>
<td><%= statement.date[:month] %></td>
<td><%= statement.date[:week] %></td>
<td><%= statement.date[:day] %></td>
<td><%= statement.sequence.statements.count %>/<%= statement.sequence.tax.quantity %></td>
<td><%= link_to 'Show', statement %></td>
<td><%= link_to 'Edit', edit_statement_path(statement) %></td>
<td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>